* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* cards */
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.accordian {
    margin-bottom: 30px;
}

.table {
    margin-bottom: 30px;

}